@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: var(--color-white);
  --foreground: var(--color-slate-800);
  @variant dark {
    --background: var(--color-slate-900);
    --foreground: var(--color-white);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --border-default: oklch(44.6% 0.043 257.281);
}

@layer components {
  button {
    @apply rounded-lg p-1.5;
    @apply text-xs font-bold;
    svg {
      @apply h-4 w-4;
    }
    span {
      @apply px-2;
    }
  }
  .btn {
    @apply hover:bg-slate-100 dark:hover:bg-slate-800;
    @apply text-slate-600 hover:text-slate-500;
    @apply border border-slate-600 hover:border-slate-500;
  }
  .btn-add {
    @apply text-slate-100 hover:text-white;
    @apply bg-green-600 hover:bg-green-500;
    @apply border border-green-600;
  }
  .input {
    @apply rounded-lg p-2;
    @apply text-sm;
    @apply bg-slate-100 dark:bg-slate-800;
    @apply border border-slate-600 hover:border-slate-500;
  }
  .menu-item {
    @apply rounded-lg p-1;
    @apply hover:bg-slate-100 dark:hover:bg-slate-800;
    @apply text-slate-600 hover:text-slate-800 dark:text-slate-300 dark:hover:text-slate-100;
    .icon-outline {
      @apply stroke-slate-600 hover:stroke-slate-800 dark:stroke-slate-300 dark:hover:stroke-slate-100;
    }
    .icon-solid {
      @apply fill-slate-600 hover:fill-slate-800 dark:fill-slate-300 dark:hover:fill-slate-100;
    }
    svg {
      @apply h-4 w-4;
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: (--var);
}
